.card {
    border-radius: 10px;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center;
    background:#6CADDC;
    cursor: pointer; 
  }
  .img-container{
      width:100%
  }
  
  .click-item {
      background-size: cover;
     width: 150px;
      margin: 8px 10px;
      cursor: pointer; 
    }
    button {
        width: 50%;
        height: 120px
    }
    img {
        height: 100%;
        width: 100%;
    }
    .card:hover {
      transform: scale(1.1);
    }
   