.card {
  
    border-radius: 2px;
    height: 225px;
    position: relative;
    width: 225px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 60%
  }

  .click-item {
      background-size: cover;
      background-position: 50%;
      margin: 8px 25px;
      border-radius: 3px;
      cursor: pointer; 
    }

    .click-item * {
      cursor: pointer;
    }
    
    .card:hover {
      transform: scale(1.1);
    }