.container {
    background-image: url("https://media.giphy.com/media/3orif8QiWNUDOPoCXK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10%;
    width: 100vw;
    height: 100vh;
}